body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20%;
}

h1 {
    font-size: 3rem;
    color: #ff4500;
}
